<!-- test -->




<div>
	<h2>Ajout d'un patient<h2>
	<input type="text" placeholder="ID_Infirmier" ng-model="message" />
	
	<textarea placeholder="Entrez le numéro ID de l'infirmier à affecter:" ng-model="message"></textarea>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm("OK")>OK</button>
        </div>
</div>