th


.itemsContainer {
    background:none; 
    float:center;
    position:relative
}

.itemsContainer:hover .image{display:block}
.image{
  position : right;
    display:none;
    top:20%; 
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
} 
