#nss {
	font-family: Ubuntu Mono;
	font-size: small;
}


th.itemsContainer {
    background:none; 
    float:center;
    position:relative
}

.itemsContainer:hover .image{display:block}
.image{
  position : auto;
    display:none;
    top:20%; 
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
} 

.rowHover:hover {
    background-color: #432345;
}


.italic {
    font-style: italic;
    color: black;
}