<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Gestion des infimiers </span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>


        <md-content class=class="md-padding","demo-tab","tab-content">
          <md-tabs md-selected="selectedIndex" md-border-bottom>

                <md-tab ng-repeat="inf in $ctrl.data.infirmiers" ng-disabled="tab.disabled"
                    label=" {{inf.idInfirmier}} {{inf.prenom}} {{inf.name | uppercase}}">

                    <md-tab-body>                        
                        <div layout="column" layout-wrap >        
                            <div layout="row" layout-align="space-between center" layout-wrap>
                                <div flex class="titre" >Prénom</div>
                                <div flex class="titre" >Nom</div>
                                <div flex class="titre" >Sexe</div>
                                <div flex class="titre" >Date de naissance</div>
                                <div flex class="titre" >ID_Patient</div>
                            </div>

                            <div layout="row" layout-align="space-around center" layout-wrap ng-repeat="patient in inf.patients">
                                <md-list-item class="md-2-line">
                                    <div flex>{{patient.prenom}}</div>
                                    <div flex>{{patient.name}}  </div>
                                    <div flex>{{patient.sexe}}  </div>
                                    <div flex>{{patient.naiss}} </div>
                                    <div flex>{{patient.id}}    </div>                                   
                                    <md-divider ng-if="!$last"></md-divider>    
                                </md-list-item>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
          </md-tabs>
      </md-content>
</section>

