<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Gestion des infimiers </span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<md-content class="md-padding","demo-tab","tab-content">
    <md-tabs md-selected="selectedIndex" md-border-bottom>
        <md-tab ng-repeat="inf in $ctrl.data.infirmiers" ng-disabled="tab.disabled"
                label=" {{inf.idInfirmier}} {{inf.prenom}} {{inf.name | uppercase}}">
            <md-tab-body>                        
                <table layout-fill>
                    <thead >
                        <tr>
                            <th class="titre" > Prénom </th>
                            <th class="titre" > Nom </th>
                            <th class="titre" > Sexe </th>
                            <th class="titre" > Date de naissance</th>
                            <th class="titre" > ID_Patient </th>
                            <th class="titre" style="min-width: 30%"> Adresse</th>
                        </tr>
                    </thead>

                    <tbody ng-init="btn=false; adr=false">
                    <tr ng-repeat="patient in inf.patients" class="md-2-lines"
                        ng-mouseenter="btn=true" ng-mouseleave="btn=false" >
                        <td flex>{{patient.prenom}} </td>
                        <td flex>{{patient.name}}</td>
                        <td flex>{{patient.sexe}} </td>
                        <td flex>{{patient.naiss}} </td>
                        <td flex>{{patient.id}} </td>
                        <td >
                            <div layout="row">
                                <!-- Affihage buggé sur chrome mais pas Firefox -->
                                <div>
                                <md-button class="md-raised md-primary btn" ng-show="btn"
                                    ng-mouseenter="adr=true" ng-mouseleave="adr=false"> Afficher</md-button>
                                </div>
                                <div ng-show="adr">
                                    <!--étage: {{patient.adresse.etage}} <br/> 
                                    N°: {{patient.adresse.numero}} <br/> -->
                                    Rue:    {{patient.adresse.rue}} <br/> 
                                    Ville:  {{patient.adresse.ville}}<br/> 
                                    CP:     {{patient.adresse.cp}}<br/>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>

