

h1 {
	font-family: Ubuntu Medium;
	color: #404040;
}

h2 > span {
	font-family: Ubuntu Medium;
}

div {
	font-family: Ubuntu;
}


/*.content{
	text-align: center;
}*/

.titre{
	color: grey;
	font-style: italic;
/*	text-align: center;
*/	font-family: Ubuntu Mono;

}

th, td {
    height: 50px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.rowInf{
	vertical-align: top;
}

tr.rowPat:hover {background-color: #f5f5f5}

