<h1>Interface secrétaire</h1>


   
<section>


    <span>
        <div>
            <cabinet-infirmier data="$ctrl.data"></cabinet-infirmier>
        </div>

        <div>
            <!-- Affichage du tablea de patients non affectés -->
            <cabinet-patient data="$ctrl.data" on-validation="$ctrl.updateInfirmiers()"></cabinet-patient>
        </div>

        <div>
            <cabinet-nouveau-patient data="$ctrl.data"></cabinet-nouveau-patient>
        </div>
    </span>
                             

    </div><br/>
</section>


