










<!-- <md-content class="md-padding">
      <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>

            <md-tab ng-repeat="inf in $ctrl.inf" ng-disabled="tab.disabled"
            label=" {{inf.idInfirmier}} {{inf.prenom}} {{inf.name | uppercase}}">

                <md-tab-body>
                    <md-content class="md-padding","demo-tab","tab-content" layout="column">
                            <div flex layout="row">
                                <div class="titre" flex>Prénom            </div>
                                <div class="titre" flex>Nom               </div>
                                <div class="titre" flex>Sexe              </div>
                                <div class="titre" flex>Date de naissance </div>
                                <div class="titre" flex>ID_Patient        </div>
                            </div>
                    </md-content>

                    <md-content class="md-padding","demo-tab","tab-content" layout="column">
                        <div layout="column">
                            <md-list ng-repeat="patient in inf.patients" layout="column">
                                <div flex layout="row">
                                    <div class="content" flex>{{patient.prenom}}</div>
                                    <div class="content" flex>{{patient.name}}  </div>
                                    <div class="content" flex>{{patient.sexe}}  </div>
                                    <div class="content" flex>{{patient.naiss}} </div>
                                    <div class="content" flex>{{patient.id}}    </div>                                   

                                </div>
                                <md-divider ng-if="!$last"></md-divider>    
                            </md-list-item>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
      </md-tabs>
  </md-content> -->