
<div>


<!-- <h3>Patients sans infirmiers</h3>
<section id="PatientsRestants"> -->
    <table>
        <tr>
            <th> Nom </th>
            <th> Prénom </th>
            <th> Sexe </th>
            <th> Date de naissance </th>
            <th> Id </th>
        </tr>
        <tr ng-repeat="patNonAff in $ctrl.patNonAff"> 
            <td> {{patNonAff.name}} </td>
            <td> {{patNonAff.prenom}} </td>
            <td> {{patNonAff.sexe}} </td>
            <td> {{patNonAff.naiss}} </td>
            <td> {{patNonAff.id}} </td>
        </tr>
    </table>
    <br/>


</section>
</div>